.result{
	&__wrapper{
	@include setFlex(column,flex-start,center);
	width:100vw;
	height: 100vh;
	min-height: 47rem;
	}

	&__header{
		@extend .header__wrap;
		@include setFlex(column,center,center);
		height:20%;
	}

	&__title{
			@extend .header__title;
	}


	&__content{
		@include setFlex(row,center,center);
		height: 80%;
		width: 100%;
	}

	&__left-section{
		@include setFlex(column,space-between,center);
		width: 37%;
		height: 100%;
	}

	&__left-top{
		@include setFlex(row,center,center);
		width:100%;
		height: 30%;
	}

	&__left-middle{
		@include setFlex(row,center,center);
		height: 30%;
		z-index:2;
	}

	&__left-bottom{
		@include setFlex(row,center,center);
		width:100%;
		height: 30%;
	}

	&__middle-section{
		@include setFlex(column,space-between,center);
		width: 26%;
		height: 100%;
	}

	&__middle-top{	
		@include setFlex(row,center,center);
		width:80%;
		height: 30%;
		font-size: 2rem;
		color: white;
	}

	&__middle-middle{
		@include setFlex(row,center,center);
		width:100%;
		height: 30%;
		background: url('../../../../assets/pole_pytania.svg');
		background-size:contain;
		background-position: center;
		background-repeat:no-repeat;
		z-index: 2;
		position: relative;
	}

	&__middle-bottom{
		@include setFlex(row,center,center);
		width:100%;
		height: 30%;
	}

	&__stripe{
		@include setFlex(row,center,center);
		position: relative;
		left:4rem;
		width:60vw;
		height: 10vh;
		background:linear-gradient(90deg, transparent 0%, transparent 30%, rgba($c-grape, .9) 50%, rgba($c-grape, .5) 100%);
		color:white;
		font-size:2rem;
	}

	&__number{
		font-size: 3rem;
		color: white;
	}

	&__right-section{
		@include setFlex(column,center,flex-end);
		width: 37%;
		height: 100%;
	}

	&__other{
		@include setFlex(row, center, center);
		width: 12rem;
		height: 7rem;
		color: white;
		font-size:1.5rem;
		text-align: center;
		padding-left: 4.5rem;
	}

	&__item{
		width: 10rem;
		height: 8rem;
		margin:1rem 0.5rem 1rem 0;
		font-size: 1rem;
		color: white;
	}
}

.repeat{
	&__wrap{
		@extend .forward__wrap;
	}

	&__text{
		@extend .forward__text;
	}
}

@media (hover: hover) and (pointer: fine) {
	.result__item:hover{
		transform: scale(1.1);
	}
}

@media only screen and (max-width: 768px){
	.result{

		&__header{
			height: 15%;
		}

		&__content{
			height: 85%;
		}

		&__other{
			width: 10rem;
			padding:0;
			margin-right: 1rem;
		}

		&__item{
			width: 9rem;
    		height: 9rem;
		}

		&__left-section{
			width: 26%
		}

		&__middle-top{
			height: 25%
		}

		&__middle-middle{
			height: 25%
		}

		&__middle-bottom{
			height: 25%
		}

		&__middle-section{
			width: 48%;
		}

		&__right-section{
			align-items: center;
			width: 26%;
		}
	}

	.repeat{
		&__wrap{
			width: 40vw;
		}
	}
}

@media only screen and (max-width: 480px){

	.result{
		&__header{
				height: 10%;
		}

		&__title{
			font-size: 4rem;

			> img{
				width: 2rem;
				height: 2rem;
				top: 0.4rem;
			}
		}

		&__content{
			@include setFlex(column,center,center);
			height: 90%;
			width: 100%;
		}

		&__left-section{
			display: none;
		}

		&__middle-section{
			width: 100%;
			height: 75%;
		}

		&__middle-top{
			width:40%;
		}

		&__right-section{
			align-items: center;
			width:100%;
			height: 25%
		}

		&__other{
			width:100%;
			height: 25%;
		}

		&__items-wrap{
			@include setFlex(row, space-around, center);
			width:100%;
		}

		&__item{
			width: 8rem;
			height: 8rem;
			font-size: 0.8rem
		}
	}
}

