//colors
//*************************

$c-transparent: transparent;
$c-white: #ffffff;
$c-black: #111111;
$c-grape: #49215f;
$c-haiti: #27153E;
$c-minsk: #502D78;
$c-medium-red-violet: #b2368c;
$c-brilliant-rose: #f849b3;

// backgrounds
// ***********************


